/* LoginSignup.css */

.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f1f1f1, #ffffff);
  }
  
  .loginsignup-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .loginsignup h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .loginsignup-fields input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginsignup-fields input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .loginsignup button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000; /* Red color for the button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .loginsignup button:hover {
    background-color: #cc0000; /* Darker red color on hover */
  }
  
  .loginsignup-login {
    text-align: center;
    margin-top: 10px;
  }
  
  .loginsignup-login span {
    color: #007bff;
    cursor: pointer;
  }
  
  .loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .loginsignup-agree input {
    margin-right: 10px;
  }
  
  .loginsignup-agree p {
    font-size: 14px;
    color: #555;
  }
  